/*
   text.css
   product_catalog
   
   Created by Miguel Perez on 2010-10-08.
   Copyright 2010 Miguel Perez. All rights reserved.
	 This file holds the css used for text in the admin area.
*/

body{
	font-family: verdana, arial, helvetica, sans-serif;
	color:#666;
	font-size:13px;
}

h1{
	font-size:30px;
}

h2{
	font-size:14px;
}

/* This style header_welcome is created in the admin.css*/
#header_welcome p{
	color:#ccc;
}

#header_welcome p a{
	text-decoration:none;
	color: #7AABFF;
}