<h1>Banners</h1>
<%= link("Add new", new_admin_banner_path, 'add')%>

<% header = ['Name', 'Description', 'Thumb', 'Actions']%>

<% proc = Proc.new { |object| image_tag(object.graphic.url(:thumb)) } %>
<% options = {:attributes => ['name', 'description', proc], :actions => [:show, :edit, :destroy]} %>
<%= render :partial => 'shared/table', :locals => {:header => header, :options => options, :objects => @banners }%>

<%= will_paginate @banners %>

<%= link("Back", dashboard_path)%>