<%# Renders the sub categories of a category, receives the category from which the subcategories will be fetched %>

<div>
  <h2><%= h(category.name) %></h2>
  <% unless category.children.blank? %>
    <ul>
    <% for child in category.children %>
      <li><%= link_to h(child.name), category_path(child) %></li>
    <% end %>
    </ul>
  <% end %>
</div>