<p>This is an email sent from the contact form in the web page.</p>

<h3>The contact form values are listed</h3>

<% @attributes.each do |attribute| %>
   <p>
      <%=h attribute[0]%>
      <br />
      <%=h attribute[1]%>
   </p>
<% end %>