<% content_for :banner do %>
  <%= render :partial => 'shared/main_banners/nivo_slider' -%>
<% end %>

<h1>Productos</h1>

<p>Podemos proveerle enzimas, prebióticos y promotores de crecimiento para mejorar el desempeño de sus animales y aumentar significativamente sus ganancias.</p>

<%= render :partial => 'shared/products/product_medium_thumbs', :locals => {:products => @products} %>