<h1>Categories</h1>
<%= link("Add new", new_admin_category_path, 'add')%>

<% header = ['Name', 'Parent', 'Actions']%>
<% options = {:attributes => ['name', 'parent_name'], :actions => [:edit, :destroy]} %>
<%= render :partial => 'shared/table', :locals => {:header => header, :options => options, :objects => @categories }%>

<%= will_paginate @categories %>

<%= link("Back", dashboard_path )%>