<% unless product.images.empty? %>
  <div id="product_images">
    <div id="imageContainer" class="selected_image loading">
    </div>
    <div id="thumbs">
      <% product.images.each do |product_image|%>
        <% link = product_image.graphic.url(:medium).gsub(/(\?\d+)/, '') %>
        <% original = product_image.graphic.url(:original).gsub(/(\?\d+)/, '') %>
        <%= image_tag(product_image.graphic.url(:small_thumb), :link => link, :original => original) %>
      <% end %>
    </div>
  </div>
  
  <% content_for :javascript do -%>
    <%= javascript_include_tag "catalog/products" %>
    <script type="text/javascript">
      Product.initialize("imageContainer");
    </script>
  <% end %>
<% end %>