<h1>Products</h1>
<%= link("Add new", new_admin_product_path, 'add')%>

<% header = ['Is visible?', 'Name', 'Description', 'Price', 'Additional Information', 'Actions']%>
<% options = {:attributes => ['visible', 'name', 'description', 'price', 'additional_information'], :actions => [:show, :edit, :destroy]} %>
<%= render :partial => 'shared/table', :locals => {:header => header, :options => options, :objects => @products }%>

<%= will_paginate @products %>

<%= link("Back", dashboard_path)%>