<div class="contact_company_information">
  <%= render :partial => 'shared/company_info' -%>
</div>

<h2>or</h3>

<h3>Send us your question</h3>

<%= render :partial => 'shared/contact/contact_form' -%>
