<div id="products-categories">
  <h1>Categories</h1>
  <%= render :partial => 'shared/categories/all_categories_list' %>
</div>

<div>
  <h1>Products</h1>
  <%= render :partial => 'shared/tags/tags_for_object', :locals => {:object => @products} %>
  <%= render :partial => 'shared/products/product_medium_thumbs', :locals => {:products => @products} %>
  <%= will_paginate @products %>
</div>